<div class="panel panel-{{type}}">
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
        <p>{{content}}</p>
        <p>API resource call result: <pre>{{result}}</pre></p>
    </div>
</div>