<!doctype html>
<html>
<head>
    <title>SpotiPi</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- stylesheets -->
    {{> common-essential-stylesheets }}

    <!-- custom body style -->
    <style>
        body { padding-top:10px; }
    </style>

</head>
<body>

    <!-- header -->
    {{> common-header }}

    <!-- page1 content -->
    {{> queue-content }}

    <!-- essential scripts -->
    {{> common-essential-scripts }}

    <!-- main js app -->
    <script src="/javascript/queue.js"></script>

</body>
</html>