<li class="media well">
    <a class="pull-left" href="#">
        <img class="media-object" alt="{{song}}" src="{{image.small}}" style="width: 64px; height: 64px;">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{song}}</h4>
        <p>{{artist}}</p>
    </div>
</li>